{% if solutions %}
    {% for solution in solutions %}
        <div class="" style="float:left; padding: 1em;">
            <div id="solution-card" class="card text-flow">
                <div class="card-content">
                    <span class="card-title truncate">
                        <a class="flow-text" href="{% url 'show_answer' subject.title_slug solution.title_slug %}">
                            <h5 class="tooltipped flow-text" data-position="top" data-tooltip="{{ solution.title.capitalize }}">
                                {{ solution.title.capitalize }}
                            </h5>
                        </a>
                    </span>
                    {{ solution.cause }}
                </div>
                <div class="card-action">
                    {{ solution.author.username }}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>There are no solutions for this subject category.</p>
{% endif %}