{% extends 'project/base.html' %}
{% load static %}

{% block title_block %}
    42
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block navbar_tabs_block %}
    <div class="nav-content">
        <div class="row" >
            <div class="col s12 no-padding" style="">
                <ul class="tabs tabs-fixed-width tabs-transparent" >
                    {% for subject in subjects %}
                        <li class="tab"><a href="#{{ subject.title_slug }}-tab">{{ subject.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block question_tab_block %}

    <div id="question-page" class="container">
        <div class="card" style="margin: 1em;">
            <div class="card-content" style="padding-left:2em; padding-right: 2em;">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" style="padding-left: 3em; padding-bottom: 0.8em; padding-right: 3em;">
                        <label class="label-icon" for="search">
                            <i class="material-icons">search</i>
                        </label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block answer_tab_block %}
    <div id="answer-page" class="container" >
        <div class="card">
            <div class="card-content" style="margin: 3em;">
                <span class="card-title">
                    <h4>Your Solution</h4>
                </span>
                <form id="solution_form" method="post" action="/solutions/new">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="row">
                        <div class="col s3">
                            {{ form.subject_choice.errors }}
                            {{ form.subject_choice.help_text }}
                            {{ form.subject_choice }}
                        </div>
                        <div class="col s9">
                            {{ form.title.errors }}
                            {{ form.title.help_text }}
                            {{ form.title }}
                            <label for="#sol-title">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            {{ form.cause.help_text }}
                            {{ form.cause.errors }}
                            {{ form.cause }}
                            <label for="#sol-cause">Cause</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            {{ form.description.help_text }}
                            {{ form.description.errors }}
                            {{ form.description }}
                            <label for="#sol-description">Description</label>
                        </div>
                    </div>
                </form>
                <div style="text-align: center">
                    <button type="submit" form="solution_form" value="Submit"
                            class="waves-effect waves-light btn indigo" style="margin-bottom: 1em;">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block included_js_block %}
{% endblock %}