{% extends 'project/base.html' %}
{% load static %}
{% load forty_two_extras %}

{% block title_block %}
    42
{% endblock %}

{% block navbar_tabs_block %}
    <div class="nav-content">
        <div class="row" >
            <div class="col s12 no-padding">
                <ul class="tabs tabs-fixed-width tabs-transparent center" >
                    {% for subject in subjects %}
                        <li class="tab"><a href="#{{ subject.title_slug }}">{{ subject.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_block %}

    <div class="container">
        <div id="sol-search">
            <div class="input-field card-panel">
                <div class="card-content">
                    <input id="search" type="search">
                    <label class="label-icon" for="search">
                    </label>
                    <i class="material-icons" style="padding-top: 4px; padding-right: 4px">close</i>
                </div>
            </div>
        </div>

        {% for subject in subjects %}
            <div id="{{ subject.title_slug }}">
                <div class="center-block" style="flex-flow: row">
                    <!-- Put a template tag here -->
                    {% get_subject_solutions subject %}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal Structure -->
    <div id="new-sol-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Add new solution</h4>
            <form id="solution_form" method="post" action="/solutions/new">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="row">
                    <div class="col s3">
                        {{ form.subject_choice.errors }}
                        {{ form.subject_choice.help_text }}
                        {{ form.subject_choice }}
                    </div>
                    <div class="col s9">
                        {{ form.title.errors }}
                        {{ form.title.help_text }}
                        {{ form.title }}
                        <label for="#sol-title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        {{ form.cause.help_text }}
                        {{ form.cause.errors }}
                        {{ form.cause }}
                        <label for="#sol-cause">Cause</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        {{ form.description.help_text }}
                        {{ form.description.errors }}
                        {{ form.description }}
                        <label for="#sol-description">Description</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        {{ form.tags.help_text }}
                        {{ form.tags.errors }}
                        {{ form.tags }}
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <div class="modal-close center">
                <button type="submit" form="solution_form" value="Submit"
                        class="waves-effect waves-light btn indigo">
                    Submit
                </button>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red modal-trigger" href="#new-sol-modal">
                <i id="fab-new-sol" class="large material-icons">add</i>
            </a>
        </div>
    {% endif %}
{% endblock %}