{% extends 'project/base.html' %}
{% load static %}

{% block title_block %}
    {{ profile.user.username }}
{% endblock %}

{% block content_block %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 center" style="margin-top: 1em;">

                        {% if profile.photo %}
                            <img class="responsive-img" src="{{ profile.photo.url }}"
                                 alt="{{ profile.photo.name }}" width="33%"/>
                        {% else %}
                            <i class="large material-icons">account_box</i>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s7">
                    <span class="card-title">
                        <h4>
                            {{ profile.user.username }}
                        </h4>
                    </span>
                        {% if profile.user.email %}
                            <p>{{ profile.user.email }}</p>
                        {% else %}
                            <p><i>No email</i></p>
                        {% endif %}
                    </div>
                </div>

                {% if profile.description %}
                    <p>
                        {{ profile.description }}
                    </p>
                {% else %}
                    <p>
                        No description
                    </p>
                {% endif %}
            </div>
        </div>

        {% if comments %}
            <p class="center"><b>Comments</b></p>
            <ul>
                {% for comment in comments %}
                    <li>
                        <div class="card text-flow">
                            <div class="card-content">
                                <blockquote style="border-left: 5px solid indigo" class="flow-text truncate">
                                    {{ comment.content }}
                                </blockquote>
                            </div>

                            <div class="card-action">

                                <a href="{% url 'index' %}" class=" black-text">
                                    {{ comment.parent_solution.subject.title_slug }}
                                </a>
                                <a href="{% url 'show_answer' comment.parent_solution.subject.title_slug comment.parent_solution.title_slug %}"
                                   class=" black-text">
                                    {{ comment.parent_solution.title_slug }}
                                </a>

                                <p class="right">
                                    {{ comment.post_time }}
                                </p>
                            </div>


                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <it>This user has made no comments.</it>
        {% endif %}
{% endblock %}