{% extends 'project/base.html' %}
{% load static %}

{% block title_block %}
    {{ profile.user.username }}
{% endblock %}

{% block content_block %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 center" style="margin-top: 1em;">

                        {% if profile.photo %}
                            <img class="responsive-img" src="{{ profile.photo.path }}"/>
                        {% else %}
                            <i class="large material-icons">account_box</i>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s7">
                    <span class="card-title">
                        <h4>
                    {{ profile.user.username }}
                        </h4>
                    </span>
                        {% if profile.user.email %}
                            <p>{{ profile.user.email }}</p>
                        {% else %}
                            <p><i>No email</i></p>
                        {% endif %}
                    </div>
                </div>

                {% if profile.description %}
                    <p>
                        {{ profile.description }}
                    </p>
                {% else %}
                    <p>
                        No description
                    </p>
                {% endif %}
            </div>
        </div>
{% endblock %}