{% extends 'project/base.html' %}
{% load static %}

{% block title_block %}
    {{ profile.user.username }}
{% endblock %}

{% block content_block %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 center">
                        {% if profile.photo %}
                            <img class="responsive-img" src="{{ profile.photo.url }}"
                                 alt="{{ profile.photo.name }}" width="300px" height="300px"/>
                        {% else %}
                            <i class="large material-icons profile-photo">account_box</i>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s7">
                    <span class="card-title">
                        <h4>
                            {{ profile.user.username }}
                        </h4>
                    </span>
                        {% if profile.user.email %}
                            <p>{{ profile.user.email }}</p>
                        {% else %}
                            <p><i>No email</i></p>
                        {% endif %}
                    </div>
                </div>
                {% if profile.description %}
                    <p class="flow-text wrap-text">
                        {{ profile.description }}
                    </p>
                {% else %}
                    <p>
                        No description
                    </p>
                {% endif %}
            </div>
        </div>

        {% if comments %}
            <p class="center"><b>Comments</b></p>
            <ul>
                {% for comment in comments %}
                    <li>
                        <div class="card text-flow">
                            <div class="card-content">
                                <blockquote class="flow-text">
                                    {{ comment.content }}
                                </blockquote>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <div class="col s6">
                                        <a href="{% url 'index' %}" class="flow-text black-text italics">
                                            {{ comment.parent_solution.subject.title_slug }}
                                        </a>
                                        <a href="{% url 'show_answer' comment.parent_solution.subject.title_slug comment.parent_solution.title_slug %}"
                                           class="flow-text black-text">
                                            {{ comment.parent_solution.title_slug }}
                                        </a>
                                    </div>
                                    <div class="col s6">
                                        <p class="right flow-text">
                                            {{ comment.post_time }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="card-panel">
            <p class="italics">This user has made no comments.</p>
            </div>
        {% endif %}
{% endblock %}