{% extends 'project/base.html' %}
{% load static %}


{% block title_block %}
    Settings
{% endblock %}

{% block content_block %}
    <form id="user_profile_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in profile_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {{ profile_form.description.help_text }}
        {{ profile_form.description.errors }}
        {{ profile_form.description }}

        {{ profile_form.photo.help_text }}
        {{ profile_form.photo.errors }}
        {{ profile_form.photo }}
    </form>

    <button form="user_profile_form" value="Submit">
        Save user profile changes
    </button>
{% endblock %}