{% extends 'project/base.html' %}
{% load static %}
{% block title_block %}
    42: {{ solution.title }}
{% endblock %}
{% block content_block %}
    <div id="solution-card" class="card-panel indigo lighten-1 white-text" style="padding: 3em;">
        <div class="card-content">
            <div class="row">
                <div class="col s2">
                    {% if author_photo %}
                        <div>
                            <img class="circle" src="{{ author_photo.url }}" alt="Profile picture" width="100px" height="100px">
                        </div>
                    {% else %}
                        <div>
                            <i class="material-icons large" style="width: 100px; height: 100px">account_box</i>
                        </div>
                    {% endif %}
                    <div style="padding-left: 12px;">
                        <span class="new badge white indigo-text left" data-badge-caption="">
                            {{ solution.author.username }}
                        </span>
                    </div>
                </div>
                <div class="col s10">
                    <div class="card-title">
                        <h1 class="flow-text" style="padding-left: 1em;">{{ solution.title }}</h1>
                    </div>
                </div>
            </div>
            <br/>
            <h5 class="flow-text wrap-text">
                {{ solution.cause }}
            </h5>
            <blockquote class="flow-text white-side">
                <p>{{ solution.description }}</p>
            </blockquote>
            {% if solution.tags.all %}
                <div class="row">
                    <div class="col s1">Tags: </div>
                    <div class="col s11">
                        {% for tag in solution.tags.all %}
                            <span class="italics">{{ tag }}{% if not forloop.last %}, {% endif %}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
        <div id="add-comment" class="center">
            <a class="btn-flat waves-effect waves-red modal-trigger" href="#add-comment-modal">Add comment</a>
        </div>
    {% endif %}
    <ul>
        {% if comments %}
            {% for comment in comments %}
                <li>
                    <div class="card-panel">
                        <div class="card-content">
                            <i>{{ comment.author.username }}</i>
                            <blockquote class="flow-text wrap-text">
                                {{ comment.content }}
                            </blockquote>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <i>There are no comments for this solution.</i>
        {% endif %}
    </ul>
    <!-- Modal Structure for new solution form -->
    <div id="add-comment-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Comment</h4>
            <form id="comment_form" method="post" action="">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="row">
                    <div class="col s12">
                        {{ form.content.help_text }}
                        {{ form.content.errors }}
                        {{ form.content }}
                    </div>
                </div>
                <input type="hidden" value="{{ solution.title_slug }}" name="parent_solution_title">
            </form>
        </div>
        <div class="modal-footer">
            <div class="modal-close center">
                <button type="submit" form="comment_form" value="Submit"
                        class="waves-effect waves-light btn indigo">
                    Submit Comment
                </button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/base.js' %}"></script>
{% endblock %}