{% extends 'project/base.html' %}
{% load static %}

{% block title_block %}
    Solution: {{ solution.title }}
{% endblock %}


{% block content_block %}
    <div id="solution-card" class="card" style="margin: 3em;">
        <div class="card-content">
            <div class="card-title">
                <div class="row">
                    <div class="col s3">
                        <h5>{{ solution.author }}</h5>
                    </div>

                    <div class="col s9">
                        <h5>{{ solution.title }}</h5>
                    </div>
                </div>
            </div>
            <p>{{ solution.cause }}
                {{ solution.description }}</p>


            <ul>
                {% if comments %}
                    {% for comment in comments %}
                        <li><i>
                            {{ comment.author }} {{ comment.content }}
                        </i></li>
                    {% endfor %}
                {% else %}
                    <i>There are no comments for this solution.</i>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}