{% extends 'project/base.html' %}
{% load static %}

{% block title_block %}
    Solution: {{ solution.title }}
{% endblock %}


{% block content_block %}
    <div id="solution-card" class="card" style="padding: 3em;">
        <div class="card-content">
            <div class="card-title">
                <div>
                    <h4 class="truncate">{{ solution.title }}</h4>
                </div>
            </div>
            <p style="font-style: italic;">
                {{ author }}
            </p>
            <p class="flow-text truncate">
                {{ solution.cause }}
                {{ solution.description }}
            </p>

            <ul>
                {% if comments %}
                    {% for comment in comments %}
                        <li><i>
                            {{ comment.author }} {{ comment.content }}
                        </i></li>
                    {% endfor %}
                {% else %}
                    <i>There are no comments for this solution.</i>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}