{% extends 'project/base.html' %}
{% load static %}

{% block title_block %}
    {{ page.subject.title }}
{% endblock %}

{% block navbar_tabs_block %}
    <div class="nav-content">
        <div class="row" >
            <div class="col s12 no-padding" style="">
                <ul class="tabs tabs-fixed-width tabs-transparent" >
                    {% for subject in subjects %}
                        {% if page.subject == subject %}
                            <li class="tab active">{{ page.subject.title }}</li>
                        {% else %}
                            <li class="tab"><a href="#{{ subject.title_slug }}">
                                {{ subject.title }}
                            </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block answer_tab_block %}
{% endblock %}

{% block content_block %}
    <p>Hello {{ page.subject.title }}</p>
{% endblock %}